@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Leak Memory";
}

<h2>Leak Memory</h2>

<p>Each call to this page generates a 100 MB memory leak.</p>

<form method="get" action="/Leak/LeakMemory">
    <button type="submit">Generate Memory Leak</button>
</form>